# Importing and Inspecting the Data

In [1]:
# import depedencies
import requests as req
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
import json

In [2]:
url_covid = 'https://api.covidtracking.com/v1/states/daily.json'
# url_usa_population = 'https://datausa.io/api/data?drilldowns=Nation&measures=Population&year=latest'
url_state_population = 'https://datausa.io/api/data?drilldowns=State&measures=Population&year=latest'

In [3]:
# retrieving API and storing data in variables
covid_js = req.get(url_covid).json()
# usa_pop_js = req.get(url_usa_population).json()
state_pop_js = req.get(url_state_population).json()
print(json.dumps(state_pop_js['data'], indent=4, sort_keys=True))

[
    {
        "ID State": "04000US30",
        "ID Year": 2018,
        "Population": 1062305,
        "Slug State": "montana",
        "State": "Montana",
        "Year": "2018"
    },
    {
        "ID State": "04000US01",
        "ID Year": 2018,
        "Population": 4887871,
        "Slug State": "alabama",
        "State": "Alabama",
        "Year": "2018"
    },
    {
        "ID State": "04000US04",
        "ID Year": 2018,
        "Population": 7171646,
        "Slug State": "arizona",
        "State": "Arizona",
        "Year": "2018"
    },
    {
        "ID State": "04000US05",
        "ID Year": 2018,
        "Population": 3013825,
        "Slug State": "arkansas",
        "State": "Arkansas",
        "Year": "2018"
    },
    {
        "ID State": "04000US06",
        "ID Year": 2018,
        "Population": 39557045,
        "Slug State": "california",
        "State": "California",
        "Year": "2018"
    },
    {
        "ID State": "04000US08",
        "ID Year": 2018,
        "Population": 5695564,
        "Slug State": "colorado",
        "State": "Colorado",
        "Year": "2018"
    },
    {
        "ID State": "04000US09",
        "ID Year": 2018,
        "Population": 3572665,
        "Slug State": "connecticut",
        "State": "Connecticut",
        "Year": "2018"
    },
    {
        "ID State": "04000US10",
        "ID Year": 2018,
        "Population": 967171,
        "Slug State": "delaware",
        "State": "Delaware",
        "Year": "2018"
    },
    {
        "ID State": "04000US11",
        "ID Year": 2018,
        "Population": 702455,
        "Slug State": "district-of-columbia",
        "State": "District of Columbia",
        "Year": "2018"
    },
    {
        "ID State": "04000US12",
        "ID Year": 2018,
        "Population": 21299325,
        "Slug State": "florida",
        "State": "Florida",
        "Year": "2018"
    },
    {
        "ID State": "04000US13",
        "ID Year": 2018,
        "Population": 10519475,
        "Slug State": "georgia",
        "State": "Georgia",
        "Year": "2018"
    },
    {
        "ID State": "04000US15",
        "ID Year": 2018,
        "Population": 1420491,
        "Slug State": "hawaii",
        "State": "Hawaii",
        "Year": "2018"
    },
    {
        "ID State": "04000US16",
        "ID Year": 2018,
        "Population": 1754208,
        "Slug State": "idaho",
        "State": "Idaho",
        "Year": "2018"
    },
    {
        "ID State": "04000US17",
        "ID Year": 2018,
        "Population": 12741080,
        "Slug State": "illinois",
        "State": "Illinois",
        "Year": "2018"
    },
    {
        "ID State": "04000US18",
        "ID Year": 2018,
        "Population": 6691878,
        "Slug State": "indiana",
        "State": "Indiana",
        "Year": "2018"
    },
    {
        "ID State": "04000US19",
        "ID Year": 2018,
        "Population": 3156145,
        "Slug State": "iowa",
        "State": "Iowa",
        "Year": "2018"
    },
    {
        "ID State": "04000US20",
        "ID Year": 2018,
        "Population": 2911510,
        "Slug State": "kansas",
        "State": "Kansas",
        "Year": "2018"
    },
    {
        "ID State": "04000US21",
        "ID Year": 2018,
        "Population": 4468402,
        "Slug State": "kentucky",
        "State": "Kentucky",
        "Year": "2018"
    },
    {
        "ID State": "04000US22",
        "ID Year": 2018,
        "Population": 4659978,
        "Slug State": "louisiana",
        "State": "Louisiana",
        "Year": "2018"
    },
    {
        "ID State": "04000US23",
        "ID Year": 2018,
        "Population": 1338404,
        "Slug State": "maine",
        "State": "Maine",
        "Year": "2018"
    },
    {
        "ID State": "04000US24",
        "ID Year": 2018,
        "Population": 6042718,
        "Slug State": "maryland",
        "State": "Maryland",
        "Year": "2018"
    },
    {
        "ID State": "04000US25",
        "ID Year": 2018,
        "Population": 6902149,
        "Slug State": "massachusetts",
        "State": "Massachusetts",
        "Year": "2018"
    },
    {
        "ID State": "04000US26",
        "ID Year": 2018,
        "Population": 9995915,
        "Slug State": "michigan",
        "State": "Michigan",
        "Year": "2018"
    },
    {
        "ID State": "04000US27",
        "ID Year": 2018,
        "Population": 5611179,
        "Slug State": "minnesota",
        "State": "Minnesota",
        "Year": "2018"
    },
    {
        "ID State": "04000US28",
        "ID Year": 2018,
        "Population": 2986530,
        "Slug State": "mississippi",
        "State": "Mississippi",
        "Year": "2018"
    },
    {
        "ID State": "04000US29",
        "ID Year": 2018,
        "Population": 6126452,
        "Slug State": "missouri",
        "State": "Missouri",
        "Year": "2018"
    },
    {
        "ID State": "04000US02",
        "ID Year": 2018,
        "Population": 737438,
        "Slug State": "alaska",
        "State": "Alaska",
        "Year": "2018"
    },
    {
        "ID State": "04000US31",
        "ID Year": 2018,
        "Population": 1929268,
        "Slug State": "nebraska",
        "State": "Nebraska",
        "Year": "2018"
    },
    {
        "ID State": "04000US32",
        "ID Year": 2018,
        "Population": 3034392,
        "Slug State": "nevada",
        "State": "Nevada",
        "Year": "2018"
    },
    {
        "ID State": "04000US33",
        "ID Year": 2018,
        "Population": 1356458,
        "Slug State": "new-hampshire",
        "State": "New Hampshire",
        "Year": "2018"
    },
    {
        "ID State": "04000US34",
        "ID Year": 2018,
        "Population": 8908520,
        "Slug State": "new-jersey",
        "State": "New Jersey",
        "Year": "2018"
    },
    {
        "ID State": "04000US35",
        "ID Year": 2018,
        "Population": 2095428,
        "Slug State": "new-mexico",
        "State": "New Mexico",
        "Year": "2018"
    },
    {
        "ID State": "04000US36",
        "ID Year": 2018,
        "Population": 19542209,
        "Slug State": "new-york",
        "State": "New York",
        "Year": "2018"
    },
    {
        "ID State": "04000US37",
        "ID Year": 2018,
        "Population": 10383620,
        "Slug State": "north-carolina",
        "State": "North Carolina",
        "Year": "2018"
    },
    {
        "ID State": "04000US38",
        "ID Year": 2018,
        "Population": 760077,
        "Slug State": "north-dakota",
        "State": "North Dakota",
        "Year": "2018"
    },
    {
        "ID State": "04000US39",
        "ID Year": 2018,
        "Population": 11689442,
        "Slug State": "ohio",
        "State": "Ohio",
        "Year": "2018"
    },
    {
        "ID State": "04000US40",
        "ID Year": 2018,
        "Population": 3943079,
        "Slug State": "oklahoma",
        "State": "Oklahoma",
        "Year": "2018"
    },
    {
        "ID State": "04000US41",
        "ID Year": 2018,
        "Population": 4190713,
        "Slug State": "oregon",
        "State": "Oregon",
        "Year": "2018"
    },
    {
        "ID State": "04000US42",
        "ID Year": 2018,
        "Population": 12807060,
        "Slug State": "pennsylvania",
        "State": "Pennsylvania",
        "Year": "2018"
    },
    {
        "ID State": "04000US44",
        "ID Year": 2018,
        "Population": 1057315,
        "Slug State": "rhode-island",
        "State": "Rhode Island",
        "Year": "2018"
    },
    {
        "ID State": "04000US45",
        "ID Year": 2018,
        "Population": 5084127,
        "Slug State": "south-carolina",
        "State": "South Carolina",
        "Year": "2018"
    },
    {
        "ID State": "04000US46",
        "ID Year": 2018,
        "Population": 882235,
        "Slug State": "south-dakota",
        "State": "South Dakota",
        "Year": "2018"
    },
    {
        "ID State": "04000US47",
        "ID Year": 2018,
        "Population": 6770010,
        "Slug State": "tennessee",
        "State": "Tennessee",
        "Year": "2018"
    },
    {
        "ID State": "04000US48",
        "ID Year": 2018,
        "Population": 28701845,
        "Slug State": "texas",
        "State": "Texas",
        "Year": "2018"
    },
    {
        "ID State": "04000US49",
        "ID Year": 2018,
        "Population": 3161105,
        "Slug State": "utah",
        "State": "Utah",
        "Year": "2018"
    },
    {
        "ID State": "04000US50",
        "ID Year": 2018,
        "Population": 626299,
        "Slug State": "vermont",
        "State": "Vermont",
        "Year": "2018"
    },
    {
        "ID State": "04000US51",
        "ID Year": 2018,
        "Population": 8517685,
        "Slug State": "virginia",
        "State": "Virginia",
        "Year": "2018"
    },
    {
        "ID State": "04000US53",
        "ID Year": 2018,
        "Population": 7535591,
        "Slug State": "washington",
        "State": "Washington",
        "Year": "2018"
    },
    {
        "ID State": "04000US54",
        "ID Year": 2018,
        "Population": 1805832,
        "Slug State": "west-virginia",
        "State": "West Virginia",
        "Year": "2018"
    },
    {
        "ID State": "04000US55",
        "ID Year": 2018,
        "Population": 5813568,
        "Slug State": "wisconsin",
        "State": "Wisconsin",
        "Year": "2018"
    },
    {
        "ID State": "04000US56",
        "ID Year": 2018,
        "Population": 577737,
        "Slug State": "wyoming",
        "State": "Wyoming",
        "Year": "2018"
    },
    {
        "ID State": "04000US72",
        "ID Year": 2018,
        "Population": 3195153,
        "Slug State": "puerto-rico",
        "State": "Puerto Rico",
        "Year": "2018"
    }
]

In [4]:
# converting the data to a dataframe for data manipulation and cleaning
covid_all = pd.DataFrame(covid_js)
# usa_pop_df = pd.DataFrame(usa_pop_js['data'])
state_pop_df = pd.DataFrame(state_pop_js['data'])
display(covid_all.head(), state_pop_df.head())

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201016,AK,11576.0,NaN,511088.0,NaN,totalTestsViral,522664.0,59.0,NaN,...,522664,1,0,2c4822280720e8cf03c9895422404d7df6cf546a,0,0,0,0,0,
1,20201016,AL,170374.0,20650.0,1091458.0,NaN,totalTestsViral,1241182.0,859.0,18855.0,...,1261832,30,220,43e7cba87404ab9ff26834603297a9c501d9d218,0,0,0,0,0,
2,20201016,AR,97539.0,5422.0,1105781.0,NaN,totalTestsViral,1197898.0,583.0,6243.0,...,1203320,20,44,f99672b2a4c76294062f5afb65ae86944d162b29,0,0,0,0,0,
3,20201016,AS,0.0,NaN,1616.0,NaN,totalTestsViral,1616.0,NaN,NaN,...,1616,0,0,40ce2acee48c25eb78f37334f04580d779034124,0,0,0,0,0,
4,20201016,AZ,229486.0,5087.0,1384981.0,NaN,totalTestsPeopleViral,1609380.0,747.0,20491.0,...,1614467,17,29,39fc71881c2036e465a660f72df2953ee0b507a9,0,0,0,0,0,

    ID State       State  ID Year  Year  Population  Slug State
0  04000US30     Montana     2018  2018     1062305     montana
1  04000US01     Alabama     2018  2018     4887871     alabama
2  04000US04     Arizona     2018  2018     7171646     arizona
3  04000US05    Arkansas     2018  2018     3013825    arkansas
4  04000US06  California     2018  2018    39557045  california

In [5]:
##### Emilio's Code Start Here #####

In [6]:
# state_pop_df['Population'].sum()

In [7]:
state_pop_df['State'].nunique()

52

In [8]:
state_pop_df['State'].unique()

array(['Montana', 'Alabama', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Alaska', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Puerto Rico'],
      dtype=object)

In [9]:
# inspecting data
display(covid_all.shape, state_pop_df.shape)

(12709, 55)

(52, 6)

In [10]:
# inspecting data
covid_all.describe()

,date,positive,probableCases,negative,pending,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,...,total,totalTestResultsIncrease,posNeg,deathIncrease,hospitalizedIncrease,commercialScore,negativeRegularScore,negativeScore,positiveScore,score
count,1.270900e+04,12599.000000,3839.000000,1.246100e+04,1429.000000,1.267900e+04,9808.000000,7294.000000,5636.000000,2109.000000,...,1.270900e+04,12709.000000,1.270900e+04,12709.000000,12709.000000,12709.0,12709.0,12709.0,12709.0,12709.0
mean,2.020065e+07,57719.322565,3172.267257,6.663021e+05,1296.675297,7.441073e+05,853.071370,7154.030573,297.509936,1106.065908,...,7.106656e+05,9651.259265,7.105198e+05,16.540798,34.049965,0.0,0.0,0.0,0.0,0.0
std,2.168082e+02,111863.928451,4200.471235,1.411716e+06,5246.842221,1.517833e+06,1606.502974,14683.358939,536.305110,1056.456136,...,1.500621e+06,18141.708648,1.500574e+06,45.356445,226.472460,0.0,0.0,0.0,0.0,0.0
min,2.020012e+07,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,6.000000,...,0.000000e+00,-336892.000000,0.000000e+00,-213.000000,-4124.000000,0.0,0.0,0.0,0.0,0.0
25%,2.020043e+07,1759.500000,455.000000,3.320200e+04,21.000000,3.195750e+04,105.000000,566.250000,55.000000,288.000000,...,3.105000e+04,595.000000,3.076700e+04,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
50%,2.020062e+07,15300.000000,1747.000000,1.988130e+05,174.000000,2.280120e+05,376.000000,2405.500000,133.000000,826.000000,...,2.081950e+05,3504.000000,2.081030e+05,4.000000,0.000000,0.0,0.0,0.0,0.0,0.0
75%,2.020082e+07,64674.000000,4165.000000,6.745200e+05,557.000000,7.641710e+05,875.250000,7458.000000,282.000000,1534.000000,...,7.286270e+05,10844.000000,7.285110e+05,14.000000,24.000000,0.0,0.0,0.0,0.0,0.0
max,2.020102e+07,861476.000000,28238.000000,1.576048e+07,64400.000000,1.662196e+07,18825.000000,89995.000000,5225.000000,5614.000000,...,1.662196e+07,187926.000000,1.662196e+07,951.000000,16373.000000,0.0,0.0,0.0,0.0,0.0

In [11]:
# # inspecting data: fields (also by reviewing API documentation)
covid_all.columns

Index(['date', 'state', 'positive', 'probableCases', 'negative', 'pending',
       'totalTestResultsSource', 'totalTestResults', 'hospitalizedCurrently',
       'hospitalizedCumulative', 'inIcuCurrently', 'inIcuCumulative',
       'onVentilatorCurrently', 'onVentilatorCumulative', 'recovered',
       'dataQualityGrade', 'lastUpdateEt', 'dateModified', 'checkTimeEt',
       'death', 'hospitalized', 'dateChecked', 'totalTestsViral',
       'positiveTestsViral', 'negativeTestsViral', 'positiveCasesViral',
       'deathConfirmed', 'deathProbable', 'totalTestEncountersViral',
       'totalTestsPeopleViral', 'totalTestsAntibody', 'positiveTestsAntibody',
       'negativeTestsAntibody', 'totalTestsPeopleAntibody',
       'positiveTestsPeopleAntibody', 'negativeTestsPeopleAntibody',
       'totalTestsPeopleAntigen', 'positiveTestsPeopleAntigen',
       'totalTestsAntigen', 'positiveTestsAntigen', 'fips', 'positiveIncrease',
       'negativeIncrease', 'total', 'totalTestResultsIncrease', 'posNeg',
       'deathIncrease', 'hospitalizedIncrease', 'hash', 'commercialScore',
       'negativeRegularScore', 'negativeScore', 'positiveScore', 'score',
       'grade'],
      dtype='object')

In [12]:
# # inspecting data: data types
covid_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12709 entries, 0 to 12708
Data columns (total 55 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   date                         12709 non-null  int64
 1   state                        12709 non-null  object
 2   positive                     12599 non-null  float64
 3   probableCases                3839 non-null   float64
 4   negative                     12461 non-null  float64
 5   pending                      1429 non-null   float64
 6   totalTestResultsSource       12709 non-null  object
 7   totalTestResults             12679 non-null  float64
 8   hospitalizedCurrently        9808 non-null   float64
 9   hospitalizedCumulative       7294 non-null   float64
 10  inIcuCurrently               5636 non-null   float64
 11  inIcuCumulative              2109 non-null   float64
 12  onVentilatorCurrently        4670 non-null   float64
 13  onVentilatorCumulative       734 non-null    float64
 14  recovered                    8832 non-null   float64
 15  dataQualityGrade             11516 non-null  object
 16  lastUpdateEt                 12288 non-null  object
 17  dateModified                 12288 non-null  object
 18  checkTimeEt                  12288 non-null  object
 19  death                        11949 non-null  float64
 20  hospitalized                 7294 non-null   float64
 21  dateChecked                  12288 non-null  object
 22  totalTestsViral              7379 non-null   float64
 23  positiveTestsViral           3139 non-null   float64
 24  negativeTestsViral           2150 non-null   float64
 25  positiveCasesViral           9774 non-null   float64
 26  deathConfirmed               5184 non-null   float64
 27  deathProbable                3744 non-null   float64
 28  totalTestEncountersViral     2007 non-null   float64
 29  totalTestsPeopleViral        4941 non-null   float64
 30  totalTestsAntibody           2200 non-null   float64
 31  positiveTestsAntibody        1605 non-null   float64
 32  negativeTestsAntibody        688 non-null    float64
 33  totalTestsPeopleAntibody     822 non-null    float64
 34  positiveTestsPeopleAntibody  485 non-null    float64
 35  negativeTestsPeopleAntibody  485 non-null    float64
 36  totalTestsPeopleAntigen      289 non-null    float64
 37  positiveTestsPeopleAntigen   207 non-null    float64
 38  totalTestsAntigen            497 non-null    float64
 39  positiveTestsAntigen         343 non-null    float64
 40  fips                         12709 non-null  object
 41  positiveIncrease             12709 non-null  int64
 42  negativeIncrease             12709 non-null  int64
 43  total                        12709 non-null  int64
 44  totalTestResultsIncrease     12709 non-null  int64
 45  posNeg                       12709 non-null  int64
 46  deathIncrease                12709 non-null  int64
 47  hospitalizedIncrease         12709 non-null  int64
 48  hash                         12709 non-null  object
 49  commercialScore              12709 non-null  int64
 50  negativeRegularScore         12709 non-null  int64
 51  negativeScore                12709 non-null  int64
 52  positiveScore                12709 non-null  int64
 53  score                        12709 non-null  int64
 54  grade                        12709 non-null  object
dtypes: float64(32), int64(13), object(10)
memory usage: 5.3+ MB

# Data Cleaning
## covid_df
#### Removing the following columns as they don't return required data, as well as deprecated fields reported in the documentation:

In [13]:
# list of fields: all, not-required, and deprecated fields
all_fields = ['date', 'state', 'positive', 'probableCases', 'negative', 'pending',
       'totalTestResults', 'hospitalizedCurrently', 'hospitalizedCumulative',
       'inIcuCurrently', 'inIcuCumulative', 'onVentilatorCurrently',
       'onVentilatorCumulative', 'recovered', 'dataQualityGrade',
       'lastUpdateEt', 'dateModified', 'checkTimeEt', 'death', 'hospitalized',
       'dateChecked', 'totalTestsViral', 'positiveTestsViral',
       'negativeTestsViral', 'positiveCasesViral', 'deathConfirmed',
       'deathProbable', 'totalTestEncountersViral', 'totalTestsPeopleViral',
       'totalTestsAntibody', 'positiveTestsAntibody', 'negativeTestsAntibody',
       'totalTestsPeopleAntibody', 'positiveTestsPeopleAntibody',
       'negativeTestsPeopleAntibody', 'totalTestsPeopleAntigen',
       'positiveTestsPeopleAntigen', 'totalTestsAntigen',
       'positiveTestsAntigen', 'fips', 'positiveIncrease', 'negativeIncrease',
       'total', 'totalTestResultsSource', 'totalTestResultsIncrease', 'posNeg',
       'deathIncrease', 'hospitalizedIncrease', 'hash', 'commercialScore',
       'negativeRegularScore', 'negativeScore', 'positiveScore', 'score',
       'grade']
deprecated_fields = ['checkTimeEt', 'commercialScore', 'dateChecked', 'dateModified', 
                     'grade', 'hash', 'hospitalized', 'negativeIncrease', 
                     'negativeRegularScore', 'negativeScore', 'posNeg', 'positiveScore', 
                     'score', 'total', 'totalTestResultsSource']
non_required_fields = ['deathConfirmed', 'deathProbable', 'lastUpdateEt', 
                       'totalTestsViral', 'positiveTestsViral', 'negativeTestsViral', 
                       'positiveCasesViral', 'probableCases', 'negative', 'recovered',
                       'pending', 'totalTestEncountersViral', 'totalTestsPeopleViral', 
                       'totalTestsAntibody', 'positiveTestsAntibody', 'negativeTestsAntibody',
                       'totalTestsPeopleAntibody', 'positiveTestsPeopleAntibody',
                       'negativeTestsPeopleAntibody', 'totalTestsPeopleAntigen', 
                       'positiveTestsPeopleAntigen','totalTestsAntigen', 'positiveTestsAntigen', 
                       'totalTestResultsIncrease', 'totalTestResults']

In [14]:
# removing deprecated and non-required fields to obtain the filtered list
filtered_fields = []
for i in all_fields:
    if i not in deprecated_fields and i not in non_required_fields:
        filtered_fields.append(i)
filtered_fields

['date',
 'state',
 'positive',
 'hospitalizedCurrently',
 'hospitalizedCumulative',
 'inIcuCurrently',
 'inIcuCumulative',
 'onVentilatorCurrently',
 'onVentilatorCumulative',
 'dataQualityGrade',
 'death',
 'fips',
 'positiveIncrease',
 'deathIncrease',
 'hospitalizedIncrease']

In [15]:
# new DF with the filtered fields
covid_df = covid_all[filtered_fields]
covid_df.head() # still think 23 columns is a lot to deal with for the prohect

,date,state,positive,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,dataQualityGrade,death,fips,positiveIncrease,deathIncrease,hospitalizedIncrease
0,20201016,AK,11576.0,59.0,NaN,NaN,NaN,8.0,NaN,A,66.0,02,228,1,0
1,20201016,AL,170374.0,859.0,18855.0,NaN,1926.0,NaN,1099.0,A,2786.0,01,1212,30,220
2,20201016,AR,97539.0,583.0,6243.0,238.0,NaN,101.0,764.0,A+,1665.0,05,1015,20,44
3,20201016,AS,0.0,NaN,NaN,NaN,NaN,NaN,NaN,D,0.0,60,0,0,0
4,20201016,AZ,229486.0,747.0,20491.0,167.0,NaN,79.0,NaN,A+,5806.0,04,738,17,29

In [16]:
# converting date-string format to date
covid_df['date'] = pd.to_datetime(covid_df['date'], format='%Y%m%d')
covid_df.head()

C:\Users\Allan\anaconda3\envs\NewPythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,date,state,positive,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,dataQualityGrade,death,fips,positiveIncrease,deathIncrease,hospitalizedIncrease
0,2020-10-16,AK,11576.0,59.0,NaN,NaN,NaN,8.0,NaN,A,66.0,02,228,1,0
1,2020-10-16,AL,170374.0,859.0,18855.0,NaN,1926.0,NaN,1099.0,A,2786.0,01,1212,30,220
2,2020-10-16,AR,97539.0,583.0,6243.0,238.0,NaN,101.0,764.0,A+,1665.0,05,1015,20,44
3,2020-10-16,AS,0.0,NaN,NaN,NaN,NaN,NaN,NaN,D,0.0,60,0,0,0
4,2020-10-16,AZ,229486.0,747.0,20491.0,167.0,NaN,79.0,NaN,A+,5806.0,04,738,17,29

### More Inspection

In [17]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12709 entries, 0 to 12708
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date                    12709 non-null  datetime64[ns]
 1   state                   12709 non-null  object
 2   positive                12599 non-null  float64
 3   hospitalizedCurrently   9808 non-null   float64
 4   hospitalizedCumulative  7294 non-null   float64
 5   inIcuCurrently          5636 non-null   float64
 6   inIcuCumulative         2109 non-null   float64
 7   onVentilatorCurrently   4670 non-null   float64
 8   onVentilatorCumulative  734 non-null    float64
 9   dataQualityGrade        11516 non-null  object
 10  death                   11949 non-null  float64
 11  fips                    12709 non-null  object
 12  positiveIncrease        12709 non-null  int64
 13  deathIncrease           12709 non-null  int64
 14  hospitalizedIncrease    12709 non-null  int64
dtypes: datetime64[ns](1), float64(8), int64(3), object(3)
memory usage: 1.5+ MB

In [18]:
# validating results by state and inspecting dates
covid_df.groupby(['state']).agg({'positiveIncrease': 'sum', 'deathIncrease': 'sum', 'date': 'count', 'date': ['min', 'max']})
# https://covid.cdc.gov/covid-data-tracker/#cases_casesinlast7days

      positiveIncrease deathIncrease       date
                   sum           sum        min        max
state
AK               11576            66 2020-03-06 2020-10-16
AL              170374          2786 2020-03-07 2020-10-16
AR               97539          1665 2020-03-06 2020-10-16
AS                   0             0 2020-03-16 2020-10-16
AZ              229484          5806 2020-03-04 2020-10-16
CA              861423         16830 2020-03-04 2020-10-16
CO               81916          2029 2020-03-05 2020-10-16
CT               62830          4542 2020-03-07 2020-10-16
DC               16255           641 2020-03-05 2020-10-16
DE               22724           662 2020-03-06 2020-10-16
FL              748435         16030 2020-03-04 2020-10-16
GA              337848          7556 2020-03-04 2020-10-16
GU                3535            63 2020-03-16 2020-10-16
HI               13962           184 2020-03-04 2020-10-16
IA               99946          1523 2020-03-06 2020-10-16
ID               50610           517 2020-03-07 2020-10-16
IL              339757          9425 2020-03-04 2020-10-16
IN              143495          3887 2020-02-27 2020-10-16
KS               70855           859 2020-03-06 2020-10-16
KY               85506          1300 2020-03-06 2020-10-16
LA              177726          5727 2020-03-07 2020-10-16
MA              142346          9702 2020-01-22 2020-10-16
MD              134329          4032 2020-03-05 2020-10-16
ME                5865           145 2020-03-07 2020-10-16
MI              159105          7317 2020-03-01 2020-10-16
MN              119395          2212 2020-03-06 2020-10-16
MO              152571          2459 2020-03-07 2020-10-16
MP                  80             2 2020-03-16 2020-10-16
MS              109255          3160 2020-03-07 2020-10-16
MT               21595           235 2020-03-07 2020-10-16
NC              241622          3910 2020-03-04 2020-10-16
ND               30517           301 2020-03-07 2020-10-16
NE               55428           535 2020-03-05 2020-10-16
NH                9512           465 2020-03-04 2020-10-16
NJ              217804         16202 2020-02-10 2020-10-16
NM               34958           922 2020-03-06 2020-10-16
NV               88684          1707 2020-03-05 2020-10-16
NY              481101         25628 2020-03-04 2020-10-16
OH              177991          5054 2020-03-05 2020-10-16
OK              105307          1154 2020-03-07 2020-10-16
OR               38932           617 2020-03-04 2020-10-16
PA              179084          8457 2020-03-06 2020-10-16
PR               56407           758 2020-03-16 2020-10-16
RI               27689          1152 2020-03-01 2020-10-16
SC              162253          3615 2020-03-04 2020-10-16
SD               31805           307 2020-03-07 2020-10-16
TN              223492          2871 2020-03-05 2020-10-16
TX              815677         16903 2020-03-04 2020-10-16
UT               91956           537 2020-03-07 2020-10-16
VA              164124          3408 2020-02-27 2020-10-16
VI                1328            21 2020-03-16 2020-10-16
VT                1915            58 2020-03-06 2020-10-16
WA               96185          2232 2020-01-22 2020-10-16
WI              175226          1588 2020-03-04 2020-10-16
WV               19580           396 2020-03-06 2020-10-16
WY                8665            57 2020-03-07 2020-10-16

In [19]:
# notice the count of dates is uneven, which is reflected by the start dates variation

In [20]:
# inspecting viz
covid_viz = covid_df.set_index(['state', 'date']).sort_index()
idx = pd.IndexSlice
select_viz = covid_viz.loc[idx[['MN'], :], :]
select_viz.positiveIncrease

state  date
MN     2020-03-06       0
       2020-03-07       1
       2020-03-08       0
       2020-03-09       3
       2020-03-10       6
                     ...
       2020-10-12    1171
       2020-10-13    1135
       2020-10-14    1369
       2020-10-15    1163
       2020-10-16    2290
Name: positiveIncrease, Length: 225, dtype: int64

# note: we could slice dates based on variables defined by a slicer on the dashboard

# Data Cleaning
## state_pop_df

In [21]:
# inspecting columns
state_pop_df.columns

Index(['ID State', 'State', 'ID Year', 'Year', 'Population', 'Slug State'], dtype='object')

In [22]:
state_pop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID State    52 non-null     object
 1   State       52 non-null     object
 2   ID Year     52 non-null     int64
 3   Year        52 non-null     object
 4   Population  52 non-null     int64
 5   Slug State  52 non-null     object
dtypes: int64(2), object(4)
memory usage: 2.6+ KB

In [23]:
# defining fips field from ID state. This new column will be used for merging
state_pop_df['fips'] = state_pop_df['ID State'].str[-2:]

In [24]:
state_df = state_pop_df[['State', 'fips', 'Population']]
state_df.head()

        State fips  Population
0     Montana   30     1062305
1     Alabama   01     4887871
2     Arizona   04     7171646
3    Arkansas   05     3013825
4  California   06    39557045

# Merging Datasets

In [25]:
covid_df['fips'].unique()

array(['02', '01', '05', '60', '04', '06', '08', '09', '11', '10', '12',
       '13', '66', '15', '19', '16', '17', '18', '20', '21', '22', '25',
       '24', '23', '26', '27', '29', '69', '28', '30', '37', '38', '31',
       '33', '34', '35', '32', '36', '39', '40', '41', '42', '72', '44',
       '45', '46', '47', '48', '49', '51', '78', '50', '53', '55', '54',
       '56'], dtype=object)

In [26]:
covid_wpop = covid_df.merge(state_df, how='inner', on='fips')
covid_wpop.head()

,date,state,positive,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,dataQualityGrade,death,fips,positiveIncrease,deathIncrease,hospitalizedIncrease,State,Population
0,2020-10-16,AK,11576.0,59.0,NaN,NaN,NaN,8.0,NaN,A,66.0,02,228,1,0,Alaska,737438
1,2020-10-15,AK,11348.0,60.0,NaN,NaN,NaN,7.0,NaN,A,65.0,02,165,1,0,Alaska,737438
2,2020-10-14,AK,11183.0,56.0,NaN,NaN,NaN,7.0,NaN,A,64.0,02,144,4,0,Alaska,737438
3,2020-10-13,AK,11039.0,59.0,NaN,NaN,NaN,8.0,NaN,A,60.0,02,155,0,0,Alaska,737438
4,2020-10-12,AK,10884.0,52.0,NaN,NaN,NaN,8.0,NaN,A,60.0,02,198,0,0,Alaska,737438

In [27]:
covid_wpop[covid_wpop.Population == 0]

Empty DataFrame
Columns: [date, state, positive, hospitalizedCurrently, hospitalizedCumulative, inIcuCurrently, inIcuCumulative, onVentilatorCurrently, onVentilatorCumulative, dataQualityGrade, death, fips, positiveIncrease, deathIncrease, hospitalizedIncrease, State, Population]
Index: []

In [28]:
covid_wpop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11849 entries, 0 to 11848
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date                    11849 non-null  datetime64[ns]
 1   state                   11849 non-null  object
 2   positive                11754 non-null  float64
 3   hospitalizedCurrently   9646 non-null   float64
 4   hospitalizedCumulative  7194 non-null   float64
 5   inIcuCurrently          5526 non-null   float64
 6   inIcuCumulative         2109 non-null   float64
 7   onVentilatorCurrently   4648 non-null   float64
 8   onVentilatorCumulative  734 non-null    float64
 9   dataQualityGrade        10816 non-null  object
 10  death                   11138 non-null  float64
 11  fips                    11849 non-null  object
 12  positiveIncrease        11849 non-null  int64
 13  deathIncrease           11849 non-null  int64
 14  hospitalizedIncrease    11849 non-null  int64
 15  State                   11849 non-null  object
 16  Population              11849 non-null  int64
dtypes: datetime64[ns](1), float64(8), int64(4), object(4)
memory usage: 1.6+ MB

In [29]:
display(covid_wpop['state'].nunique(), covid_df['state'].nunique())

52

56

In [30]:
display(covid_wpop['state'].unique(), covid_df['state'].unique())

array(['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
       'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
       'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
       'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'PR', 'RI', 'SC', 'SD', 'TN',
       'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY'], dtype=object)

array(['AK', 'AL', 'AR', 'AS', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL',
       'GA', 'GU', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA',
       'MD', 'ME', 'MI', 'MN', 'MO', 'MP', 'MS', 'MT', 'NC', 'ND', 'NE',
       'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'PR', 'RI',
       'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VI', 'VT', 'WA', 'WI', 'WV',
       'WY'], dtype=object)

In [31]:
# checking for omitted states: the result are US territories.
omitted_states = []
for i in covid_df['state'].unique():
    if i not in covid_wpop['state'].unique():
        omitted_states.append(i)
omitted_states

['AS', 'GU', 'MP', 'VI']

### Seven-day rolling average of new cases, by number of days since X average daily cases first recorded

In [32]:
covid_indexed = covid_wpop.set_index(['state']).sort_index().sort_values(['state', 'date'])

In [33]:
covid_rollavg = covid_indexed[['date', 'positive', 'positiveIncrease', 'death', 'deathIncrease']]

In [34]:
covid_rollavg['positiveRollingAvg'] = covid_rollavg.groupby(level=0)['positiveIncrease'].rolling(window=7).mean().values
covid_rollavg

C:\Users\Allan\anaconda3\envs\NewPythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,date,positive,positiveIncrease,death,deathIncrease,positiveRollingAvg
state,,,,,,
AK,2020-03-06,0.0,0,0.0,0,NaN
AK,2020-03-07,0.0,0,0.0,0,NaN
AK,2020-03-08,0.0,0,0.0,0,NaN
AK,2020-03-09,0.0,0,0.0,0,NaN
AK,2020-03-10,0.0,0,0.0,0,NaN
...,...,...,...,...,...,...
WY,2020-10-12,7802.0,191,54.0,0,167.571429
WY,2020-10-13,7964.0,162,57.0,3,170.571429
WY,2020-10-14,8177.0,213,57.0,0,182.571429
WY,2020-10-15,8375.0,198,57.0,0,183.285714
WY,2020-10-16,8665.0,290,57.0,0,190.000000

In [35]:
covid_rollavg['deathRollingAvg'] = covid_rollavg.groupby(level=0)['deathIncrease'].rolling(window=7).mean().values

C:\Users\Allan\anaconda3\envs\NewPythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [36]:
# new cases: looping to get the date >= threshold for each state
state_list = covid_rollavg.index.get_level_values('state').unique()
new_threshold = 10
dates_new = []
for i in state_list:
    new_df = covid_rollavg.loc[i]
    new_df = new_df.loc[new_df['positiveIncrease'] >= new_threshold]
    date = new_df.iloc[0].date
    dates_new.append(date)
dates_new

[Timestamp('2020-03-24 00:00:00'),
 Timestamp('2020-03-16 00:00:00'),
 Timestamp('2020-03-18 00:00:00'),
 Timestamp('2020-03-19 00:00:00'),
 Timestamp('2020-03-08 00:00:00'),
 Timestamp('2020-03-11 00:00:00'),
 Timestamp('2020-03-17 00:00:00'),
 Timestamp('2020-03-20 00:00:00'),
 Timestamp('2020-03-22 00:00:00'),
 Timestamp('2020-03-13 00:00:00'),
 Timestamp('2020-03-13 00:00:00'),
 Timestamp('2020-03-20 00:00:00'),
 Timestamp('2020-03-21 00:00:00'),
 Timestamp('2020-03-20 00:00:00'),
 Timestamp('2020-03-10 00:00:00'),
 Timestamp('2020-03-19 00:00:00'),
 Timestamp('2020-03-19 00:00:00'),
 Timestamp('2020-03-20 00:00:00'),
 Timestamp('2020-03-13 00:00:00'),
 Timestamp('2020-03-13 00:00:00'),
 Timestamp('2020-03-17 00:00:00'),
 Timestamp('2020-03-16 00:00:00'),
 Timestamp('2020-03-02 00:00:00'),
 Timestamp('2020-03-11 00:00:00'),
 Timestamp('2020-03-19 00:00:00'),
 Timestamp('2020-03-18 00:00:00'),
 Timestamp('2020-03-22 00:00:00'),
 Timestamp('2020-03-18 00:00:00'),
 Timestamp('2020-03-26 00:00:00'),
 Timestamp('2020-03-22 00:00:00'),
 Timestamp('2020-03-19 00:00:00'),
 Timestamp('2020-03-13 00:00:00'),
 Timestamp('2020-03-21 00:00:00'),
 Timestamp('2020-03-13 00:00:00'),
 Timestamp('2020-03-05 00:00:00'),
 Timestamp('2020-03-15 00:00:00'),
 Timestamp('2020-03-18 00:00:00'),
 Timestamp('2020-03-13 00:00:00'),
 Timestamp('2020-03-13 00:00:00'),
 Timestamp('2020-03-25 00:00:00'),
 Timestamp('2020-03-17 00:00:00'),
 Timestamp('2020-03-18 00:00:00'),
 Timestamp('2020-03-25 00:00:00'),
 Timestamp('2020-03-12 00:00:00'),
 Timestamp('2020-03-13 00:00:00'),
 Timestamp('2020-03-15 00:00:00'),
 Timestamp('2020-03-13 00:00:00'),
 Timestamp('2020-03-20 00:00:00'),
 Timestamp('2020-02-29 00:00:00'),
 Timestamp('2020-03-13 00:00:00'),
 Timestamp('2020-03-25 00:00:00'),
 Timestamp('2020-03-25 00:00:00')]

In [37]:
new_dict = dict(zip(state_list, dates_new))
new_dict

{'AK': Timestamp('2020-03-24 00:00:00'),
 'AL': Timestamp('2020-03-16 00:00:00'),
 'AR': Timestamp('2020-03-18 00:00:00'),
 'AZ': Timestamp('2020-03-19 00:00:00'),
 'CA': Timestamp('2020-03-08 00:00:00'),
 'CO': Timestamp('2020-03-11 00:00:00'),
 'CT': Timestamp('2020-03-17 00:00:00'),
 'DC': Timestamp('2020-03-20 00:00:00'),
 'DE': Timestamp('2020-03-22 00:00:00'),
 'FL': Timestamp('2020-03-13 00:00:00'),
 'GA': Timestamp('2020-03-13 00:00:00'),
 'HI': Timestamp('2020-03-20 00:00:00'),
 'IA': Timestamp('2020-03-21 00:00:00'),
 'ID': Timestamp('2020-03-20 00:00:00'),
 'IL': Timestamp('2020-03-10 00:00:00'),
 'IN': Timestamp('2020-03-19 00:00:00'),
 'KS': Timestamp('2020-03-19 00:00:00'),
 'KY': Timestamp('2020-03-20 00:00:00'),
 'LA': Timestamp('2020-03-13 00:00:00'),
 'MA': Timestamp('2020-03-13 00:00:00'),
 'MD': Timestamp('2020-03-17 00:00:00'),
 'ME': Timestamp('2020-03-16 00:00:00'),
 'MI': Timestamp('2020-03-02 00:00:00'),
 'MN': Timestamp('2020-03-11 00:00:00'),
 'MO': Timestamp('2020-03-19 00:00:00'),
 'MS': Timestamp('2020-03-18 00:00:00'),
 'MT': Timestamp('2020-03-22 00:00:00'),
 'NC': Timestamp('2020-03-18 00:00:00'),
 'ND': Timestamp('2020-03-26 00:00:00'),
 'NE': Timestamp('2020-03-22 00:00:00'),
 'NH': Timestamp('2020-03-19 00:00:00'),
 'NJ': Timestamp('2020-03-13 00:00:00'),
 'NM': Timestamp('2020-03-21 00:00:00'),
 'NV': Timestamp('2020-03-13 00:00:00'),
 'NY': Timestamp('2020-03-05 00:00:00'),
 'OH': Timestamp('2020-03-15 00:00:00'),
 'OK': Timestamp('2020-03-18 00:00:00'),
 'OR': Timestamp('2020-03-13 00:00:00'),
 'PA': Timestamp('2020-03-13 00:00:00'),
 'PR': Timestamp('2020-03-25 00:00:00'),
 'RI': Timestamp('2020-03-17 00:00:00'),
 'SC': Timestamp('2020-03-18 00:00:00'),
 'SD': Timestamp('2020-03-25 00:00:00'),
 'TN': Timestamp('2020-03-12 00:00:00'),
 'TX': Timestamp('2020-03-13 00:00:00'),
 'UT': Timestamp('2020-03-15 00:00:00'),
 'VA': Timestamp('2020-03-13 00:00:00'),
 'VT': Timestamp('2020-03-20 00:00:00'),
 'WA': Timestamp('2020-02-29 00:00:00'),
 'WI': Timestamp('2020-03-13 00:00:00'),
 'WV': Timestamp('2020-03-25 00:00:00'),
 'WY': Timestamp('2020-03-25 00:00:00')}

In [38]:
covid_rollavg.head()

,date,positive,positiveIncrease,death,deathIncrease,positiveRollingAvg,deathRollingAvg
state,,,,,,,
AK,2020-03-06,0.0,0,0.0,0,NaN,NaN
AK,2020-03-07,0.0,0,0.0,0,NaN,NaN
AK,2020-03-08,0.0,0,0.0,0,NaN,NaN
AK,2020-03-09,0.0,0,0.0,0,NaN,NaN
AK,2020-03-10,0.0,0,0.0,0,NaN,NaN

In [39]:
covid_rollavg.iloc[0].date

Timestamp('2020-03-06 00:00:00')

In [40]:
# deaths: looping to get the date >= threshold for each state
death_threshold = 10
dates_death = []
for i in state_list:
    death_df = covid_rollavg.loc[i]
    death_df = death_df.loc[death_df['death'] >= death_threshold]
    date_d = death_df.iloc[0].date
    dates_death.append(date_d)
dates_death

[Timestamp('2020-05-06 00:00:00'),
 Timestamp('2020-03-31 00:00:00'),
 Timestamp('2020-04-01 00:00:00'),
 Timestamp('2020-03-27 00:00:00'),
 Timestamp('2020-03-17 00:00:00'),
 Timestamp('2020-03-25 00:00:00'),
 Timestamp('2020-03-23 00:00:00'),
 Timestamp('2020-04-01 00:00:00'),
 Timestamp('2020-03-29 00:00:00'),
 Timestamp('2020-03-20 00:00:00'),
 Timestamp('2020-03-19 00:00:00'),
 Timestamp('2020-04-20 00:00:00'),
 Timestamp('2020-04-02 00:00:00'),
 Timestamp('2020-04-04 00:00:00'),
 Timestamp('2020-03-23 00:00:00'),
 Timestamp('2020-03-24 00:00:00'),
 Timestamp('2020-04-01 00:00:00'),
 Timestamp('2020-03-31 00:00:00'),
 Timestamp('2020-03-20 00:00:00'),
 Timestamp('2020-03-22 00:00:00'),
 Timestamp('2020-03-27 00:00:00'),
 Timestamp('2020-04-04 00:00:00'),
 Timestamp('2020-03-19 00:00:00'),
 Timestamp('2020-03-30 00:00:00'),
 Timestamp('2020-03-28 00:00:00'),
 Timestamp('2020-03-28 00:00:00'),
 Timestamp('2020-04-18 00:00:00'),
 Timestamp('2020-04-01 00:00:00'),
 Timestamp('2020-04-19 00:00:00'),
 Timestamp('2020-04-07 00:00:00'),
 Timestamp('2020-04-08 00:00:00'),
 Timestamp('2020-03-19 00:00:00'),
 Timestamp('2020-04-04 00:00:00'),
 Timestamp('2020-03-24 00:00:00'),
 Timestamp('2020-03-18 00:00:00'),
 Timestamp('2020-03-25 00:00:00'),
 Timestamp('2020-03-28 00:00:00'),
 Timestamp('2020-03-26 00:00:00'),
 Timestamp('2020-03-25 00:00:00'),
 Timestamp('2020-04-01 00:00:00'),
 Timestamp('2020-04-01 00:00:00'),
 Timestamp('2020-03-28 00:00:00'),
 Timestamp('2020-04-24 00:00:00'),
 Timestamp('2020-03-30 00:00:00'),
 Timestamp('2020-03-25 00:00:00'),
 Timestamp('2020-04-06 00:00:00'),
 Timestamp('2020-03-26 00:00:00'),
 Timestamp('2020-03-27 00:00:00'),
 Timestamp('2020-03-02 00:00:00'),
 Timestamp('2020-03-27 00:00:00'),
 Timestamp('2020-04-15 00:00:00'),
 Timestamp('2020-05-19 00:00:00')]

In [41]:
death_dict = dict(zip(state_list, dates_death))
death_dict

{'AK': Timestamp('2020-05-06 00:00:00'),
 'AL': Timestamp('2020-03-31 00:00:00'),
 'AR': Timestamp('2020-04-01 00:00:00'),
 'AZ': Timestamp('2020-03-27 00:00:00'),
 'CA': Timestamp('2020-03-17 00:00:00'),
 'CO': Timestamp('2020-03-25 00:00:00'),
 'CT': Timestamp('2020-03-23 00:00:00'),
 'DC': Timestamp('2020-04-01 00:00:00'),
 'DE': Timestamp('2020-03-29 00:00:00'),
 'FL': Timestamp('2020-03-20 00:00:00'),
 'GA': Timestamp('2020-03-19 00:00:00'),
 'HI': Timestamp('2020-04-20 00:00:00'),
 'IA': Timestamp('2020-04-02 00:00:00'),
 'ID': Timestamp('2020-04-04 00:00:00'),
 'IL': Timestamp('2020-03-23 00:00:00'),
 'IN': Timestamp('2020-03-24 00:00:00'),
 'KS': Timestamp('2020-04-01 00:00:00'),
 'KY': Timestamp('2020-03-31 00:00:00'),
 'LA': Timestamp('2020-03-20 00:00:00'),
 'MA': Timestamp('2020-03-22 00:00:00'),
 'MD': Timestamp('2020-03-27 00:00:00'),
 'ME': Timestamp('2020-04-04 00:00:00'),
 'MI': Timestamp('2020-03-19 00:00:00'),
 'MN': Timestamp('2020-03-30 00:00:00'),
 'MO': Timestamp('2020-03-28 00:00:00'),
 'MS': Timestamp('2020-03-28 00:00:00'),
 'MT': Timestamp('2020-04-18 00:00:00'),
 'NC': Timestamp('2020-04-01 00:00:00'),
 'ND': Timestamp('2020-04-19 00:00:00'),
 'NE': Timestamp('2020-04-07 00:00:00'),
 'NH': Timestamp('2020-04-08 00:00:00'),
 'NJ': Timestamp('2020-03-19 00:00:00'),
 'NM': Timestamp('2020-04-04 00:00:00'),
 'NV': Timestamp('2020-03-24 00:00:00'),
 'NY': Timestamp('2020-03-18 00:00:00'),
 'OH': Timestamp('2020-03-25 00:00:00'),
 'OK': Timestamp('2020-03-28 00:00:00'),
 'OR': Timestamp('2020-03-26 00:00:00'),
 'PA': Timestamp('2020-03-25 00:00:00'),
 'PR': Timestamp('2020-04-01 00:00:00'),
 'RI': Timestamp('2020-04-01 00:00:00'),
 'SC': Timestamp('2020-03-28 00:00:00'),
 'SD': Timestamp('2020-04-24 00:00:00'),
 'TN': Timestamp('2020-03-30 00:00:00'),
 'TX': Timestamp('2020-03-25 00:00:00'),
 'UT': Timestamp('2020-04-06 00:00:00'),
 'VA': Timestamp('2020-03-26 00:00:00'),
 'VT': Timestamp('2020-03-27 00:00:00'),
 'WA': Timestamp('2020-03-02 00:00:00'),
 'WI': Timestamp('2020-03-27 00:00:00'),
 'WV': Timestamp('2020-04-15 00:00:00'),
 'WY': Timestamp('2020-05-19 00:00:00')}

In [42]:
covid_rollavg.reset_index(inplace=True)

In [43]:
covid_rollavg['new_datelapse'] = ''

C:\Users\Allan\anaconda3\envs\NewPythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [44]:
covid_rollavg['death_datelapse'] = ''

C:\Users\Allan\anaconda3\envs\NewPythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [45]:
# populating new_datelapse with the dete substraction for number of days since reaching the threshold
for x in covid_rollavg.index:
    covid_rollavg.iloc[x, 8] = covid_rollavg.iloc[x, 1] - new_dict[covid_rollavg.iloc[x, 0]]

C:\Users\Allan\anaconda3\envs\NewPythonData\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [46]:
# populating death_datelapse with the dete substraction for number of days since reaching the threshold
for x in covid_rollavg.index:
    covid_rollavg.iloc[x, 9] = covid_rollavg.iloc[x, 1] - death_dict[covid_rollavg.iloc[x, 0]]

In [47]:
covid_rollavg

,state,date,positive,positiveIncrease,death,deathIncrease,positiveRollingAvg,deathRollingAvg,new_datelapse,death_datelapse
0,AK,2020-03-06,0.0,0,0.0,0,NaN,NaN,-18 days +00:00:00,-61 days +00:00:00
1,AK,2020-03-07,0.0,0,0.0,0,NaN,NaN,-17 days +00:00:00,-60 days +00:00:00
2,AK,2020-03-08,0.0,0,0.0,0,NaN,NaN,-16 days +00:00:00,-59 days +00:00:00
3,AK,2020-03-09,0.0,0,0.0,0,NaN,NaN,-15 days +00:00:00,-58 days +00:00:00
4,AK,2020-03-10,0.0,0,0.0,0,NaN,NaN,-14 days +00:00:00,-57 days +00:00:00
...,...,...,...,...,...,...,...,...,...,...
11844,WY,2020-10-12,7802.0,191,54.0,0,167.571429,0.142857,201 days 00:00:00,146 days 00:00:00
11845,WY,2020-10-13,7964.0,162,57.0,3,170.571429,0.571429,202 days 00:00:00,147 days 00:00:00
11846,WY,2020-10-14,8177.0,213,57.0,0,182.571429,0.571429,203 days 00:00:00,148 days 00:00:00
11847,WY,2020-10-15,8375.0,198,57.0,0,183.285714,0.428571,204 days 00:00:00,149 days 00:00:00
11848,WY,2020-10-16,8665.0,290,57.0,0,190.000000,0.428571,205 days 00:00:00,150 days 00:00:00

---

## Map Viz DF

In [48]:
# call the latest available date for each state
# latest_date = covid_wpop.date == covid_wpop.date.max() this works, but what if one of the states is not updated to the latest date?
# need an alternative solution to call the last date, TBD in class
latest_date = covid_wpop.date == covid_wpop.date.max()
map_df = covid_wpop[latest_date]
map_df

,date,state,positive,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,dataQualityGrade,death,fips,positiveIncrease,deathIncrease,hospitalizedIncrease,State,Population
0,2020-10-16,AK,11576.0,59.0,NaN,NaN,NaN,8.0,NaN,A,66.0,02,228,1,0,Alaska,737438
225,2020-10-16,AL,170374.0,859.0,18855.0,NaN,1926.0,NaN,1099.0,A,2786.0,01,1212,30,220,Alabama,4887871
449,2020-10-16,AR,97539.0,583.0,6243.0,238.0,NaN,101.0,764.0,A+,1665.0,05,1015,20,44,Arkansas,3013825
674,2020-10-16,AZ,229486.0,747.0,20491.0,167.0,NaN,79.0,NaN,A+,5806.0,04,738,17,29,Arizona,7171646
901,2020-10-16,CA,861476.0,3035.0,NaN,713.0,NaN,NaN,NaN,B,16830.0,06,3075,73,0,California,39557045
1128,2020-10-16,CO,81918.0,420.0,8127.0,NaN,NaN,NaN,NaN,A,2029.0,08,1141,4,59,Colorado,5695564
1354,2020-10-16,CT,62830.0,184.0,12043.0,NaN,NaN,NaN,NaN,B,4542.0,09,802,2,0,Connecticut,3572665
1578,2020-10-16,DC,16255.0,86.0,NaN,21.0,NaN,6.0,NaN,A+,641.0,11,89,3,0,District of Columbia,702455
1804,2020-10-16,DE,22724.0,104.0,NaN,26.0,NaN,NaN,NaN,A+,662.0,10,164,1,0,Delaware,967171
2029,2020-10-16,FL,748437.0,2083.0,47396.0,NaN,NaN,NaN,NaN,A,16030.0,12,3449,98,173,Florida,21299325
2256,2020-10-16,GA,337850.0,1668.0,30217.0,NaN,5614.0,NaN,NaN,A,7556.0,13,1609,64,136,Georgia,10519475
2483,2020-10-16,HI,13962.0,103.0,978.0,23.0,NaN,5.0,NaN,B,184.0,15,90,1,17,Hawaii,1420491
2710,2020-10-16,IA,99946.0,468.0,NaN,105.0,NaN,48.0,NaN,A+,1523.0,19,1229,17,0,Iowa,3156145
2935,2020-10-16,ID,50610.0,219.0,2137.0,56.0,494.0,NaN,NaN,A,517.0,16,718,1,15,Idaho,1754208
3159,2020-10-16,IL,339761.0,2016.0,NaN,410.0,NaN,151.0,NaN,A,9425.0,17,5103,52,0,Illinois,12741080
3386,2020-10-16,IN,143495.0,1311.0,14473.0,379.0,2867.0,136.0,NaN,A+,3887.0,18,2283,23,120,Indiana,6691878
3619,2020-10-16,KS,70855.0,456.0,3370.0,123.0,933.0,47.0,284.0,A+,859.0,20,1700,21,61,Kansas,2911510
3844,2020-10-16,KY,85506.0,667.0,6545.0,187.0,1622.0,NaN,NaN,B,1300.0,21,1311,4,39,Kentucky,4468402
4069,2020-10-16,LA,177726.0,557.0,NaN,NaN,NaN,60.0,NaN,A,5727.0,22,774,20,0,Louisiana,4659978
4293,2020-10-16,MA,142346.0,513.0,12971.0,77.0,NaN,33.0,NaN,A+,9702.0,25,767,30,25,Massachusetts,6902149
4562,2020-10-16,MD,134329.0,416.0,16288.0,111.0,NaN,NaN,NaN,A,4032.0,24,781,4,33,Maryland,6042718
4788,2020-10-16,ME,5865.0,11.0,466.0,5.0,NaN,1.0,NaN,A+,145.0,23,29,1,2,Maine,1338404
5012,2020-10-16,MI,159119.0,1000.0,NaN,254.0,NaN,94.0,NaN,A+,7317.0,26,2206,15,0,Michigan,9995915
5242,2020-10-16,MN,119396.0,484.0,8718.0,126.0,2375.0,NaN,NaN,A,2212.0,27,2290,13,66,Minnesota,5611179
5467,2020-10-16,MO,152571.0,1443.0,NaN,NaN,NaN,NaN,NaN,B,2459.0,29,2017,17,0,Missouri,6126452
5691,2020-10-16,MS,109255.0,596.0,6237.0,146.0,NaN,75.0,NaN,A+,3160.0,28,1116,8,0,Mississippi,2986530
5915,2020-10-16,MT,21595.0,319.0,986.0,NaN,NaN,NaN,NaN,C,235.0,30,662,5,27,Montana,1062305
6139,2020-10-16,NC,241623.0,1148.0,NaN,299.0,NaN,NaN,NaN,A+,3910.0,37,2684,36,0,North Carolina,10383620
6366,2020-10-16,ND,30517.0,217.0,1221.0,39.0,271.0,NaN,NaN,B,301.0,38,864,12,29,North Dakota,760077
6590,2020-10-16,NE,55428.0,323.0,2631.0,NaN,NaN,NaN,NaN,A,535.0,31,961,5,38,Nebraska,1929268
6816,2020-10-16,NH,9514.0,16.0,761.0,NaN,246.0,NaN,NaN,B,465.0,33,88,2,0,New Hampshire,1356458
7043,2020-10-16,NJ,217804.0,728.0,24160.0,178.0,NaN,60.0,NaN,B,16202.0,34,810,5,68,New Jersey,8908520
7293,2020-10-16,NM,34958.0,150.0,3819.0,NaN,NaN,NaN,NaN,B,922.0,35,668,1,30,New Mexico,2095428
7518,2020-10-16,NV,88685.0,469.0,NaN,142.0,NaN,60.0,NaN,A+,1707.0,32,716,9,0,Nevada,3034392
7744,2020-10-16,NY,481107.0,918.0,89995.0,200.0,NaN,97.0,NaN,B,25628.0,36,1707,10,0,New York,19542209
7971,2020-10-16,OH,177991.0,1084.0,16910.0,279.0,3522.0,134.0,NaN,A+,5054.0,39,2148,16,86,Ohio,11689442
8197,2020-10-16,OK,105308.0,793.0,7601.0,291.0,NaN,NaN,NaN,A+,1154.0,40,1472,11,0,Oklahoma,3943079
8421,2020-10-16,OR,38935.0,190.0,2886.0,44.0,NaN,15.0,NaN,A+,617.0,41,410,6,18,Oregon,4190713
8648,2020-10-16,PA,179086.0,830.0,NaN,NaN,NaN,80.0,NaN,A+,8457.0,42,1566,25,0,Pennsylvania,12807060
8873,2020-10-16,PR,56412.0,341.0,NaN,64.0,NaN,35.0,NaN,B,758.0,72,327,15,0,Puerto Rico,3195153
9088,2020-10-16,RI,27691.0,137.0,3015.0,14.0,NaN,5.0,NaN,A+,1152.0,44,253,3,16,Rhode Island,1057315
9318,2020-10-16,SC,162253.0,769.0,9854.0,206.0,NaN,98.0,NaN,A+,3615.0,45,1147,8,56,South Carolina,5084127
9545,2020-10-16,SD,31805.0,299.0,2044.0,NaN,NaN,NaN,NaN,A,307.0,46,793,3,44,South Dakota,882235
9769,2020-10-16,TN,223493.0,1281.0,9489.0,361.0,NaN,154.0,NaN,A+,2871.0,47,666,7,73,Tennessee,6770010
9995,2020-10-16,TX,815678.0,4248.0,NaN,1290.0,NaN,NaN,NaN,A,16903.0,48,5870,91,0,Texas,28701845
10222,2020-10-16,UT,91957.0,304.0,4559.0,96.0,1007.0,NaN,400.0,A+,537.0,49,1496,8,48,Utah,3161105
10446,2020-10-16,VA,164124.0,1002.0,19913.0,222.0,NaN,104.0,NaN,A+,3408.0,51,1183,20,73,Virginia,8517685
10679,2020-10-16,VT,1915.0,1.0,NaN,NaN,NaN,NaN,NaN,B,58.0,50,12,0,0,Vermont,626299
10904,2020-10-16,WA,96185.0,274.0,7956.0,NaN,NaN,18.0,NaN,B,2232.0,53,676,11,73,Washington,7535591
11173,2020-10-16,WI,175227.0,1101.0,9027.0,274.0,1325.0,NaN,NaN,A+,1588.0,55,4105,23,135,Wisconsin,5813568
11400,2020-10-16,WV,19580.0,188.0,NaN,70.0,NaN,31.0,NaN,B,396.0,54,498,3,0,West Virginia,1805832
11625,2020-10-16,WY,8665.0,51.0,359.0,NaN,NaN,NaN,NaN,B,57.0,56,290,0,5,Wyoming,577737

In [49]:
map_df.shape

(52, 17)

In [50]:
map_df.columns

Index(['date', 'state', 'positive', 'hospitalizedCurrently',
       'hospitalizedCumulative', 'inIcuCurrently', 'inIcuCumulative',
       'onVentilatorCurrently', 'onVentilatorCumulative', 'dataQualityGrade',
       'death', 'fips', 'positiveIncrease', 'deathIncrease',
       'hospitalizedIncrease', 'State', 'Population'],
      dtype='object')

In [51]:
# reorganizing columns
map_df = map_df[['date', 'State', 'state', 'Population', 
                 'positive', 'positiveIncrease', 'death', 'deathIncrease', 
                 'hospitalizedCurrently', 'hospitalizedIncrease', 'hospitalizedCumulative', 
                 'inIcuCurrently', 'inIcuCumulative', 
                 'onVentilatorCurrently', 'onVentilatorCumulative', 
                 'dataQualityGrade']]
map_df.head()

,date,State,state,Population,positive,positiveIncrease,death,deathIncrease,hospitalizedCurrently,hospitalizedIncrease,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,dataQualityGrade
0,2020-10-16,Alaska,AK,737438,11576.0,228,66.0,1,59.0,0,NaN,NaN,NaN,8.0,NaN,A
225,2020-10-16,Alabama,AL,4887871,170374.0,1212,2786.0,30,859.0,220,18855.0,NaN,1926.0,NaN,1099.0,A
449,2020-10-16,Arkansas,AR,3013825,97539.0,1015,1665.0,20,583.0,44,6243.0,238.0,NaN,101.0,764.0,A+
674,2020-10-16,Arizona,AZ,7171646,229486.0,738,5806.0,17,747.0,29,20491.0,167.0,NaN,79.0,NaN,A+
901,2020-10-16,California,CA,39557045,861476.0,3075,16830.0,73,3035.0,0,NaN,713.0,NaN,NaN,NaN,B

In [52]:
map_df['positive_per_100K'] = (map_df['positive'] / (map_df['Population'] / 100000)).round(1)
map_df['death_per_100K'] = (map_df['death'] / (map_df['Population'] / 100000)).round(1)
map_df.head()

,date,State,state,Population,positive,positiveIncrease,death,deathIncrease,hospitalizedCurrently,hospitalizedIncrease,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,dataQualityGrade,positive_per_100K,death_per_100K
0,2020-10-16,Alaska,AK,737438,11576.0,228,66.0,1,59.0,0,NaN,NaN,NaN,8.0,NaN,A,1569.8,8.9
225,2020-10-16,Alabama,AL,4887871,170374.0,1212,2786.0,30,859.0,220,18855.0,NaN,1926.0,NaN,1099.0,A,3485.6,57.0
449,2020-10-16,Arkansas,AR,3013825,97539.0,1015,1665.0,20,583.0,44,6243.0,238.0,NaN,101.0,764.0,A+,3236.4,55.2
674,2020-10-16,Arizona,AZ,7171646,229486.0,738,5806.0,17,747.0,29,20491.0,167.0,NaN,79.0,NaN,A+,3199.9,81.0
901,2020-10-16,California,CA,39557045,861476.0,3075,16830.0,73,3035.0,0,NaN,713.0,NaN,NaN,NaN,B,2177.8,42.5

In [53]:
# CASES AND DEATH LAST 7 DAYS?

In [54]:
##### Emilio's Code Ends Here #####

In [55]:
#### Allan's Code Starts ####

In [56]:
#### Allan's Code Ends ####

In [57]:
#### Matt's Code Starts ####

In [58]:
map_df = map_df.rename(columns={'state':'state_abbr', 'State':'state', 'Population':'population', 'positiveIncrease':'positive_increase', 'deathIncrease':'death_increase', 'hospitalizedCurrently':'hospitalized_currently', 'hospitalizedIncrease':'hospitalized_increase', 'hospitalizedCumulative':'hospitalized_cumulative', 'inIcuCurrently':'in_icu_currently', 'inIcuCumulative':'in_icu_cumulative','onVentilatorCurrently':'on_ventilator_currently', 'onVentilatorCumulative':'on_ventilator_cumulative','dataQualityGrade':'data_quality_grade', 'positive_per_100K':'positive_per_100k', 'death_per_100K':'death_per_100k'})

In [59]:
map_df = map_df.fillna(0)
map_df.dtypes

date                        datetime64[ns]
state                               object
state_abbr                          object
population                           int64
positive                           float64
positive_increase                    int64
death                              float64
death_increase                       int64
hospitalized_currently             float64
hospitalized_increase                int64
hospitalized_cumulative            float64
in_icu_currently                   float64
in_icu_cumulative                  float64
on_ventilator_currently            float64
on_ventilator_cumulative           float64
data_quality_grade                  object
positive_per_100k                  float64
death_per_100k                     float64
dtype: object

In [60]:
from config import password
from sqlalchemy import create_engine

In [61]:
rds_connection_string = "postgres:" + password + "@localhost:5432/covid19_db"

In [62]:
engine = create_engine(f'postgresql://{rds_connection_string}')

In [63]:
map_df.to_sql(name='covid_data', con=engine, if_exists='replace', index=False)

In [64]:
mapping_df = pd.read_sql_query('select * from covid_data', con=engine).head(15)

In [65]:
#### Matt's Code Ends ####